trix-toolbar .trix-button-group.trix-button-group--file-tools {
  display: none !important;
}

.trix-button--icon-code,
.trix-button--icon-quote,
.trix-button--icon-heading-1,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level  {
  display: none !important;
}